@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  background: #fff!;
  font-family: "DM Sans", sans-serif;

  .vignette {
    @apply fixed top-0 left-0 w-full h-full;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.3) inset;
  }
}
